<a href="https://colab.research.google.com/github/Hirak-Pandya/Python-Pandas--Assignment/blob/main/Assignmentt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [160]:
import pandas as pd

df = pd.read_excel ('/content/area.xlsx')
df.head(15)

                            projectName                                        Area(sq.ft)
0                         Godrej Summit  Master Bedroom, 181, Bedroom, 153.08, Bedroom,...
1                         Godrej Summit  Master Bedroom, 144.83, Bedroom, 126.88, Bedro...
2                    Hero Homes Gurgaon                   Bedroom, 151.48, Bedroom, 128.08
3                         Godrej Summit  Master Bedroom, 167, Bedroom, 146.12, Bedroom,...
4                    Hero Homes Gurgaon   Bedroom, 164.76, Bedroom, 128.55, Bedroom, 99.17
5                  Godrej Air Sector 85             Master Bedroom, 175.97, Bedroom, 146.1
6                    Hero Homes Gurgaon  Bedroom, 152.63, Bedroom, 129.52, Bedroom, 129.07
7                            Godrej 101  Master Bedroom, 161.2, Bedroom, 130, Study Roo...
8   Shapoorji Pallonji Joyville Gurgaon            Master Bedroom, 135.67, Bedroom, 124.13
9                       Godrej Meridien                  Master Bedroom, 154, Bedroom, 132
10                       DLF The Ultima  Master Bedroom, 168, Bedroom, 121.67, Bedroom,...
11                       Godrej Habitat                  Master Bedroom, 168, Bedroom, 140
12                       Central park I                   Bedroom, 124.78, Bedroom, 192.51
13                 Tata Raheja Arabella  Master Bedroom, 316.44, Bedroom, 316.44, Bedro...
14                 Tata Raheja Arabella  Master Bedroom, 282.64, Bedroom, 282.64, Bedro...

In [161]:
dfd=df['Area(sq.ft)']

In [162]:
dfd.tail(15)

85    Master Bedroom, 170.5, Bedroom, 137.81, Master...
86    Master Bedroom, 195, Bedroom, 153.75, Bedroom,...
87    Master Bedroom, 201.5, Bedroom, 137.81, Bedroo...
88    Master Bedroom, 171, Master Bedroom, 143.75, M...
89    Master Bedroom, 183, Bedroom, 163.88, Bedroom,...
90    Master Bedroom, 168, Bedroom, 184.38, Bedroom,...
91    Bedroom, 120, Bedroom, 120, Bedroom, 120, Mast...
92    Master Bedroom, 326.83, Bedroom, 198.92, Bedro...
93    Master Bedroom, 216.56, Bedroom, 177, Bedroom,...
94    Bedroom, 154, Master Bedroom, 400.22, Bedroom,...
95    Master Bedroom, 194.33, Bedroom, 119.25, Bedro...
96    Master Bedroom, 320, Bedroom, 214.5, Bedroom, ...
97    Bedroom, 120, Bedroom, 120, Bedroom, 120, Mast...
98    Master Bedroom, 214.21, Bedroom, 179.56, Bedro...
99    Master Bedroom, 340, Bedroom, 180, Bedroom, 18...
Name: Area(sq.ft), dtype: object

In [163]:
dfd=dfd.str.split(',')

In [164]:
dfd.head()

0    [Master Bedroom,  181,  Bedroom,  153.08,  Bed...
1    [Master Bedroom,  144.83,  Bedroom,  126.88,  ...
2                [Bedroom,  151.48,  Bedroom,  128.08]
3    [Master Bedroom,  167,  Bedroom,  146.12,  Bed...
4    [Bedroom,  164.76,  Bedroom,  128.55,  Bedroom...
Name: Area(sq.ft), dtype: object

In [165]:
dfd[0]

['Master Bedroom',
 ' 181',
 ' Bedroom',
 ' 153.08',
 ' Bedroom',
 ' 143',
 ' Bedroom',
 ' 132',
 ' Study Room',
 ' 72.75']

In [166]:
Master_Bedroom=[]
Bedroom1=[]
Bedroom2=[]
Bedroom3=[]
studyroom=[]

In [167]:
for i in range(0,100):
  #if "Master Bedroom" in dfd[i]:
  if dfd[i][0]=="Master Bedroom":
    Master_Bedroom.append(dfd[i][1])
    
  else:
    Master_Bedroom.append("NA")

  if " Study Room" in dfd[i]:
    studyroom.append(dfd[i][-1])
  else:
    studyroom.append("NA")

  


  if ("Bedroom" in dfd[i]) and (dfd[i].index("Bedroom") <len(dfd[i])):
    first=dfd[i].index("Bedroom")
    
    Bedroom1.append(dfd[i][dfd[i].index("Bedroom")+1])
  elif(" Bedroom" in dfd[i]) and (dfd[i].index(" Bedroom") <len(dfd[i])):
    first=dfd[i].index(" Bedroom")
    Bedroom1.append(dfd[i][dfd[i].index(" Bedroom")+1])
  else:
    Bedroom1.append("NA")

  if(first+2 < len(dfd[i])) and (dfd[i][first+2]==" Bedroom"):
    first=first+2
    Bedroom2.append(dfd[i][first+1])
  else:
    Bedroom2.append("NA")

  if(first+2 < len(dfd[i])) and (dfd[i][first+2]==" Bedroom"):
    first=first+2
    Bedroom3.append(dfd[i][first+1])
  else:
    Bedroom3.append("NA")

In [168]:
print(len(Master_Bedroom))

100

In [169]:
print(Master_Bedroom)

[' 181', ' 144.83', 'NA', ' 167', 'NA', ' 175.97', 'NA', ' 161.2', ' 135.67', ' 154', ' 168', ' 168', 'NA', ' 316.44', ' 282.64', ' 132', ' 169.17', ' 334.55', ' 131.08', 'NA', 'NA', 'NA', ' 167', 'NA', 'NA', ' 210', 'NA', 'NA', ' 144.83', ' 144.83', 'NA', ' 167', ' 331.77', ' 331.77', ' 331.77', ' 307.21', 'NA', ' 420.39', ' 153.08', 'NA', ' 307.21', 'NA', 'NA', 'NA', ' 235.05', 'NA', ' 270.31', ' 219.15', ' 240', ' 258.23', ' 143', ' 132.92', 'NA', 'NA', 'NA', 'NA', 'NA', ' 224.07', ' 231.74', ' 190', ' 168', ' 202', 'NA', ' 180', 'NA', ' 179.67', ' 172.12', 'NA', 'NA', ' 177.33', ' 158.62', ' 165.81', ' 168.97', 'NA', 'NA', 'NA', 'NA', 'NA', ' 171.19', ' 158.17', ' 163.47', ' 163.47', ' 201.5', ' 158.17', 'NA', ' 170.5', ' 195', ' 201.5', ' 171', ' 183', ' 168', 'NA', ' 326.83', ' 216.56', 'NA', ' 194.33', ' 320', 'NA', ' 214.21', ' 340']

In [170]:
df["Master Bedroom"]=Master_Bedroom
df["Bedroom1"]= Bedroom1
df["Bedroom2"]= Bedroom2
df["Bedroom3"]= Bedroom3
df["StudyRoom"]= studyroom
df.head(20)

                            projectName  ... StudyRoom
0                         Godrej Summit  ...     72.75
1                         Godrej Summit  ...        NA
2                    Hero Homes Gurgaon  ...        NA
3                         Godrej Summit  ...        NA
4                    Hero Homes Gurgaon  ...        NA
5                  Godrej Air Sector 85  ...        NA
6                    Hero Homes Gurgaon  ...        NA
7                            Godrej 101  ...     79.44
8   Shapoorji Pallonji Joyville Gurgaon  ...        NA
9                       Godrej Meridien  ...        NA
10                       DLF The Ultima  ...        NA
11                       Godrej Habitat  ...        NA
12                       Central park I  ...        NA
13                 Tata Raheja Arabella  ...        NA
14                 Tata Raheja Arabella  ...        NA
15                           M3M Marina  ...        NA
16                       One Indiabulls  ...        NA
17                 Tata Raheja Arabella  ...        NA
18         Central Park 3 Flower Valley  ...     64.75
19         Central Park 3 Flower Valley  ...        NA

[20 rows x 7 columns]

In [171]:
df.to_excel("Final_area.xlsx")